*{
    margin: 0;
    box-sizing: border-box;
    font-family:Lato, Helvetica, Arial, sans-serif;
}
img{
    cursor: pointer;
}
a{
    text-decoration: none;
    cursor:pointer;
}

.montserrat-h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    font-size: 32px;

    color:black;

}

.main-news a h3:hover{
    color:rgb(247,148,30);
}
.montserrat-p{
    font-family: "Montserrat", sans-serif;
    font-size: 1.15rem;
    line-height: 1.15rem;
    font-weight: 700;

    color:black;
}
.news1 a p:hover , .news2 a p:hover{
    color:rgb(247,148,30);
}
.open-sans-p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
.img-info a{
    color:black;
}
.img-info a:hover{
    color:rgb(247,148,30);
}
#greyBox{
    border:1px solid #ccc9;
    padding:5px 20px;
    cursor:pointer;
}
#greyBox:hover{
    border-color: white;
    transition: 0.3s;
}
h3{

    margin-top:6px;
}
p{
    margin-top: 10px;
}

.title{
    background-color: rgb(247,148,30);
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;


}
.title a{

    color: white;
    font-weight: 400;
}
#support{
    height: auto;
    width: 130px;
    background-color: rgb(247,148,30);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    cursor:pointer;

    transform-origin: bottom left;
    transform: rotate(-90deg);

    position: fixed;
    left: 100%;
    top: 50%;
    z-index: 20;

    transition: 0.5s;
}
#support-white{
    color: white;
    text-decoration: none;
}
#support:hover{
    background-color: black;
    text-decoration: none;
}

#privacy{
    padding: 5px;

    position: fixed;
    top: 0;
    right: 0;
    height: auto;
    width:auto;
    background-color: rgb(54, 139, 214);

    border-radius: 0 0 3px 3px;
}
.fa-cog{
    color: white;
}

.logo-conteiner {
    width: 100%;
    max-width: 1020px;
    height: 110px;

   display: flex;


    justify-content: left;

    overflow: hidden;
}
.logo{
    margin: 5px 0 10px 0;
}
.sticky-header{
    width: 100%;

    position: sticky;
    top:-110px;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.nav-bar{
    width: 100%;
    max-width: 1020px;

    background-color: white;
}
.responsive-bar{
    width: 100%;

    display: flex;
    justify-content: flex-start;

}
ul#menu{
    padding-left:0;
    list-style-type: none;
    width: 100%;
}
ul#menu li{
    display: inline-block;
    position: relative;

    margin-right: 9px;
    padding: 5px 1px 2px 1px;

}
ul#menu li a{
    font-family: 'Overpass',sans-serif;
    color:#000;
    text-transform: uppercase;
    font-weight: 700;

    font-size: 14px;
}

ul#menu li:hover{
    background-color: rgb(247,148,30);
}
ul#menu li:hover > a{
    color: white;
}
#newItem{
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    background-color: rgb(247,148,30);

    padding:2px 0 2px 0 !important;
}

#newItem a {
    font-family: 'Open Sans Condensed', sans-serif;

    color:white!important;
    font-weight: 700;
    margin:0;
    padding: 0;

    line-height: 1.3;
    font-size: 13px;
}

#hrOrange{
    border: 0.5px solid rgb(247,148,30);
    width: 100%;
}
.rettOrange{
    background-color: rgb(247,148,30);

    margin-bottom: 0;
    padding: 2px 1px 2px 1px;
}
.rettOrange > a{
    color:white!important;
}
.icon{
    cursor:pointer;
    padding:4px 15px 4px 15px!important;
    margin-right:2px!important;
}

/*Getione dropdown menu*/

.responsive-bar li ul{
    display: none;
    position: absolute; /* Posizione assoluta per il dropdown */
    top: 100%; /* Posiziona il dropdown sotto l'elemento genitore */
    left: 0;
    z-index: 20;
    width: 300px;
    padding: 0;
    margin: 0;
    background-color: white;
    border-radius: 4px; /* Bordi stondati per il contenitore del sottomenù */

}
.responsive-bar li:hover >ul{
    display: block;
}
.responsive-bar li li{
    width:300px;
    float:left;

    text-align: left;
    border-bottom:0.05rem solid black;
    margin-top:0;

}
.responsive-bar li ul li:last-child {
    border-bottom: none; /* Rimuove il bordo inferiore dall'ultimo elemento */
}

.responsive-bar li li a{padding:4px 2px 2px 10px;}

.responsive-bar li li:hover{
    background-color: rgb(247,148,30) !important;
}

.undercontent{
    display: flex;
    justify-content: center;

    width: 100%;
    min-height: 1100px;
    overflow: visible;


    position: relative;
    z-index: 1;

    margin-bottom: 40px;


}

.main-content{
    width: 100%;
    max-width: 980px;

    margin-top:40px;
    position: relative;

}

.left-content{
    width: calc(100%*2/3);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    padding-right: 10px;
}
.main-news{
    width:100%;
}
.double-news{
    margin-top:50px;
    position: relative;
}
.news1{
    width:49%;

    position: absolute;
    left: 0;
    top: 0;
}
.news2{
    width:49%;

    position: absolute;
    right: 0;
    top: 0;
}

.right-content {
    width: calc(100% * 1 / 3);
    height: 1160px;
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    justify-content: center;

    margin: 0;
}

.intestazione-right-content{
    position: absolute;
    top:0;
}

.intestazione-right-content h3{
    font-size: 23px;
    color: #F7941EFF;
    letter-spacing: 2px;

    position: relative;
    display: inline-block;

    margin:0;
}
.intestazione-right-content h3:before{
    content:"";
    border: 1px solid #9a9a9a;
    position: absolute;
    width: 80%;
    top: 13.25px;
    left: -110px;
}
.intestazione-right-content h3:after{
    content: "";
    border: 1px solid #9a9a9a;
    position: absolute;
    width: 80%;
    top: 13.25px;
    right: -110px;
}

.news-research{
    position: absolute;
    top:30px
}
.img-info h4{
    margin-top:10px;
}
.img-info p{
    font-size: 15px;
}

#info-user{
    font-size: 13px;
}

.all-event{
    margin-top :20px;
    padding:0 30px 0 30px;

}
.all-event a{

    color: #9a9a9a;
}
.all-event a:hover{
    color:#F7941EFF ;
}
.all-event span{
    color: #9a9a9a;
}
#greyLine{
    border:0;
    border-top: thin solid #9a9a9a;
    margin-top:5px;


}

.event-type{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    margin-top:10px;
    text-align: center;
}
.events{
    grid-column-start: 1;
}
.music{
    grid-column-start: 2;
}
.movies{
    grid-column-start: 3;
}
.dining{
    grid-column-start: 4;
}
.event-type div{
    color: #9a9a9a;
    font-weight: 700;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
}

.music a{

    color: #9a9a9a;
}
.music a:hover {
    color: white;
    background-color: #F7941EFF;
    padding: 5px;
}
.movies a{

    color: #9a9a9a;
}
.movies a:hover {
    color: white;
    background-color: #F7941EFF;
    padding: 5px;
}
.dining a{

    color: #9a9a9a;
}
.dining a:hover {
    color: white;
    background-color: #F7941EFF;
    padding: 5px;
}
.events a{

    color: white;
    background-color:#F7941EFF;

    padding: 5px;


}
.events{
    position: relative;
}
#triangle-down{
    width:0;
    height: 0;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #F7941EFF;

    position: absolute;
    top:21px;
    left: 55px;
}
.date{
    margin-top:20px;
    position: relative;
   /* border: 0.15rem solid #ccc;
    border-radius: 0;
    box-shadow: none;*/
}
.event-specifies select {
    -webkit-appearance: none;

    width: 100%;
    height: 40px;
    border-radius: 0;


    border:thin solid #ccc;

    padding-left: 6px;

}

/*Gestione della freccia per selezione del menù*/
.custom-arrow{
    position: absolute;
    top:0;
    right: 0;

    display: block;

    height: 100%;
    width: 2rem;

    border: thin solid #ccc;
    border-left: 0 transparent;

    pointer-events: none;
}

.custom-arrow::before,
.custom-arrow::after{
    --size: 0.30em;

    content: "";
    position: absolute;
    width: 0;
    height: 0;

    left:50%;

    transform: translate(-50%, -50%);
}

.custom-arrow::before{
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;

    top: 40%;
}
.custom-arrow::after{
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;

    top:60%;
}

.categories{
    position: relative;
    margin-top: 10px;
}
.position{
    position: relative;
    margin-top: 10px;
}
.search{
    width: 100%;
    margin-top: 10px;

    position: relative;
}
.search-bar{

    align-items: center;
}
.search-bar input{
    width: 80%;
    height: 40px;

    border: thin solid #ccc;
    margin-right: 5px;

}
.button-go input {
    position: absolute;
    right: 0;
    top: 0;

    background: white;
    color: black;
    border: thin solid #ccc;

    font-family: Lato, Helvetica, Arial, sans-serif;

    font-size: 16px;
    font-weight: 700;
    width: 18%;
    height: 40px;
}
.button-go a input:hover{
    cursor: pointer;
    color: white;
    background-color:#F7941EFF ;
}
option{
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 16px;

    color:black;
}

.the-latest{
    width:100%;
    height: 700px;
    display: flex;
    justify-content: center;

    position: relative;
}
.intestazione-latest{
    width: 100%;
    max-width: 980px;


    display: flex;
    justify-content: center;

    position: relative;
}
.intestazione-latest h3{
    font-size: 23px;
    color: #F7941EFF;
    letter-spacing: 2px;

    margin:0;
}
.intestazione-latest h3:before{
    content:"";
    border: 1px solid #9a9a9a;
    position: absolute;
    width: 40%;
    top: 14px;
    left:0;
}
.intestazione-latest h3:after{
    content: "";
    border: 1px solid #9a9a9a;
    position: absolute;
    width: 40%;
    top: 14px;
    right:0;
}
.grid-latest{
    width: 100%;
    max-width: 989px;

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;

    position: absolute;
    top:40px;

    height:700px;

}
.latest-padding-img{
    padding-left: 6px;
}
.latest-1{
    grid-column-start: 1;
}
.latest-2{
    grid-column-start: 2;
}
.latest-3{
    grid-column-start: 3;
}

.latest-4{
    grid-column-start: 4;

}
.latest-5{
    grid-column-start: 1;
    grid-row-start:2;
}
.latest-6{
    grid-column-start: 2;
    grid-row-start:2;
}
.latest-7{
    grid-column-start: 3;
    grid-row-start:2;
}
.latest-8{
    grid-column-start: 4;
    grid-row-start:2;
}
.paragrafo-latest{
    font-size: 1.15rem;
    line-height: 1.15rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;

    padding-right: 1px;
}
.testo-latest-1 a,.testo-latest-2 a, .testo-latest-3 a, .testo-latest-4 a{
    text-decoration: none;
    cursor: pointer;
    color:black;
}
.autore-small{
    font-size: 14px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding-right: 1px;
}
.latest-1:hover a, .latest-2:hover a, .latest-3:hover a, .latest-4:hover a,
.latest-5:hover a, .latest-6:hover a ,.latest-7:hover a, .latest-8:hover a{

    color:#F7941EFF;
}

@media (min-width: 998px){
    .sticky-header{
        transform: translate(-8px ,0);
    }
    .bars .fa-bars{
        display: none;
    }
    .find-icon .fa-search{
        display: none;
    }
    .media-logo{
        display: none;
    }
    .left-img-media{
        display: none;
    }
}
@media (max-width: 998px){
    .nav-bar{
        display: none;
    }
    .sticky-header{
        width:100%;

        position: sticky;
        top: 0;

        background-color: white;

        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 33% 33% 33%;

        box-shadow: 0 2px 2px 0 #3333;
    }
    .bars{
        grid-row-start:2;
        grid-column-start: 1;
        display: flex;
        justify-content: left;
        align-items: center;

        font-size: 32px;

        margin-left:10px;
    }
    .find-icon{
        grid-row-start: 2;
        grid-column-start: 3;

        display: flex;
        justify-content: right;
        align-items: center;

        font-size: 30px;

        margin-right: 10px;

    }

    .logo-conteiner{
        grid-row-start: 2;
        grid-column-start: 2;

        display: flex;
        justify-content: center;

    }
    .logo{display: none}
    .media-logo{
        display: block;
        margin: 10px 0 10px 0;
    }
    /*622 x 348 img media*/
    .main-content{
        display: flex;
        justify-content: center;
    }
    .left-content{
        width: 100%;
        max-width: 640px;
        position: static;
    }
    .left-img{
        display: none;
    }
    .left-img-media{
        display: block;
    }
    .right-content{
        width:100%;
        position: absolute;
        top: 1500px;
    }

}